*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100vh;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #9a9a9a;
}
img{
  border: none;
  vertical-align: top;
}
i{
  font-style: normal;
}